body {
    background-image: url("../graphic/spiration-light.png");
}

.main {
    margin-top: 0.5vw;
    margin-left: 20vw;
    margin-right: 7vw;
    width: 73vw;
    //filter: blur(2px);
    z-index: 5;
    background-color: rgba(245, 245, 245, 0.68);
    border-radius: 20px;
}

.subtitle {
    width: 87vw;
    height: 5vw;
    margin-top: 6vw;
    margin-left: 13vw;
    background-color: red;
}
