body {
    background-image: url("../graphic/spiration-light.png");
}

.main {
    margin-top: 10vw;
    margin-left: 19.5vw;
    margin-right: 7vw;
    height: 100%;
    width: 73vw;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 5;
}
