.nav{
    position: absolute;
}

.top {
    position: fixed;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    justify-content: flex-start;    
    display: flex;
}


.logo{
    width: 90%;
    height: 90%;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    vertical-align: middle;
    display: block;
    position: absolute;
    fill: #eae4e3;
}

.logo_div {
    width: 13vw;
    height: 13vw;
    float: left;
    left: 0;
    position: fixed;
    background: url("../graphic/ep_naturalblack.png");
    transition: 0.5s;
    border-radius: 0 0 10px 0;
}


.title {
    width: 87vw;
    height: 6vw;
    font-size: 4vw;
    position: fixed;
    padding-top: 0.5vw; 
    text-align: center;
    margin-left: 13vw;
    display: block;
    background: url("../graphic/tweed.png");
    transition: 0.5s;
}
.title_text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #eae4e3;
    font-family: fogtwo;
    text-shadow: 0.13vw 0.13vw 0.2vw #D72945;
}


.subtitle {
    width: 87vw;
    height: 5vw;
    font-size: 3vw;
    position: fixed;
    padding-top: 0.4vw; 
    text-align: center;
    left: 13vw;
    top: 6vw;
    display: block;
    background: url("../graphic/pixel_weave.png");
    transition: 0.5s;
}
.subtitle_text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #0e141b;
    font-family: znikomit;
    text-shadow: 0.05vw 0.01vw 0.03vw #0e141b;
}



.subtitle_scroll {
    height: 3.5vw;
    font-size: 2vw;
    top: 4.5vw;
}

.title_scroll {
    height: 4.5vw;
    font-size: 3vw;
}