* {
    box-sizing: border-box;
}

.top {
    position: fixed;
    left: 0;
    top: 0;
    height: 20%;
    width: 100%;
    justify-content: flex-start;    
    display: flex;
}

.logo{
    width: 90%;
    height: 90%;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    vertical-align: middle;
    display: block;
    position: absolute;
    //-webkit-filter: invert(80.75%);
    fill: #eae4e3;
}

.logo_div {
    width: 13vw;
    height: 13vw;
    float: left;
    left: 0;
    position: fixed;
    background: url("../graphic/ep_naturalblack.png");
    transition: 0.5s;
    border-radius: 0 0 10px 0;
}



.title {
    width: 87vw;
    height: 6vw;
    font-size: 3.5vw;
    float: left;
    padding-top: 0.5vw; 
    text-align: center;
    /*border-style: none none solid none;
    border-width: thin;
    border-color: #eae4e3;*/
    margin-left: 13vw;
    display: block;
    background: url("../graphic/tweed.png");
    transition: 0.5s;
}
.title_text {
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #eae4e3;
  font-family: fogtwo;
  text-shadow: 0.13vw 0.13vw 0.2vw #D72945;
}