.sidenav {
    height: 100%;
    width: 0; /*js*/
    position: fixed;
    z-index: 1;
    top: 13vw;
    left: 0;
    background-color: #eae4e3;
    background-image: url(../graphic/ep_naturalwhite.png);
    overflow-x: hidden;
    padding-top: 60px; /* !!! */
    transition: 0.5s;
}

.sidenav a { /* !!! */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.7vw;
    color: #0e141b;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #D72945;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.7vw;
    font-size: 2.7vw;
    margin-left: 3.5vw;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}


.sideNav_hidden {
    height: 100%;
    width: 5vw;
    position: fixed;
    z-index: 2;
    top: 13vw;
    left: 0;
    padding-top: 0.5vw;
    text-align: center;
    background-color: #eae4e3;
    background-image: url("../graphic/pink dust.png");
    overflow-x: hidden;
    transition: 0.5s;
}

.nav_button {
    font-size: 2.7vw;
    cursor: pointer;
    color: #eae4e3;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}