/*CSS files*/

@import "css/main.css";
@import "css/sidenav.css";
@import "css/nav.css";
@import "css/footer.css";
@import "css/galeria.css";


/*fonts*/

@import url("https://use.typekit.net/ehf1uex.css");

@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,400i&amp;subset=latin-ext");

@font-face {
    font-family: znikomit;
    src: url (font/znikomit/znikomit.otf);  
}

@font-face {
    font-family: fogtwo;
    src: url (font/Fogtwo/FogtwoNo5.otf);
}


/*global*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("graphic/sayagata.png");
}